
.theme
{
    background-color: #22354f;
}


.theme_title
{
    color: #22354f;
    font-weight: bold;
}

.theme_text , h1, h2, h3, h4, h5 ,h6
{
    color: #22354f;
}

a.button
{
    text-decoration: none;
    color: white;
}

.dash
{
    margin-top: 5px !important;
}

a:hover
{
    color: white;
}

a.user
{
    text-decoration: none;
    color: blue;
}

body
{
    background-color: #f0eede;
}

a.search_result
{
    color: #22354f;
}

.center-cropped {

    overflow: hidden;
  }

.preview{
    /* overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin-bottom: 5px; 
    vertical-align: middle; */

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 5px; 
 }

.circle
 {
    border-radius: 50%;
    border: 2px solid #22354f;
    align-items: center;
    align-self: center;

 }

.squared
 {
    border-radius: 5%;
    border: 2px solid #22354f;
    align-items: center;
    align-self: center;

 }

.adminTable{
    text-align: center;
 }


.leftData {
    vertical-align: top;
    width:85px;
 }

 .rightData {
    width:71%;
 }
 
