{% extends 'layout.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}    
        <br>
        <h2>Register</h2>
        <br>
        <form method="POST">
            <div class="shadow p-3 mb-5 bg-body rounded">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label theme_text") }}
            {{ form.name(class="form-control") }}
            <br>
            {{ form.hidden_tag() }}
            {{ form.username.label(class="form-label theme_text") }}
            {{ form.username(class="form-control") }}
            <br>
            {{ form.hidden_tag() }}
            {{ form.email.label(class="form-label theme_text") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.hidden_tag() }}
            {{ form.password.label(class="form-label theme_text") }}
            {{ form.password(class="form-control") }}
            <br>
            {{ form.hidden_tag() }}
            {{ form.confirmation.label(class="form-label theme_text") }}
            {{ form.confirmation(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-dark theme")}}
            </div>
        </form>
{% endblock %}
