{% extends 'layout.html' %}

{% block content %}
        <br>
            <h3 class="theme_title"> Blog posts that contains "{{ searched }}"...</h3>
            <br>
            {% if not results.all()|length == 0 %}
                <h5>Search Results</h5><br>
                {% for result in results  %}
                <div class="shadow p-4 mb-5 bg-body rounded">       
                    <div class="row">
                        <div class="leftData">
                            {% if result.Posts.poster.id == 2 %}
                                <a href="{{ url_for ('user', id=result.Posts.poster.id) }}"><img src="{{ url_for ('static', filename='Bennett.jpg')}}" alt="Profile Picture" width="60" height="60" class="float-start circle"></a>
                            {% elif result.Posts.poster.id == 6 %}
                                <a href="{{ url_for ('user', id=result.Posts.poster.id) }}"><img src="{{ url_for ('static', filename='lighthouse.jpg')}}" alt="Profile Picture" width="60" height="60" class="float-start circle"></a>
                            {% else%}
                                <a href="{{ url_for ('user', id=result.Posts.poster.id) }}"><img src="{{ url_for ('static', filename='default_profile_picture.png')}}" alt="Profile Picture" width="60" height="60" class="float-start circle"></a>
                            {% endif %}
                        </div>
                        <div class="rightData">
                            <h4 class="theme_text">{{ result.Posts.title }}</h4>
                            <small>By: <a class="theme_text" href="{{ url_for ('user', id=result.Posts.poster.id) }}"><span class="theme_text">{{ result.Users.name }}</span></a><br>
                            Date: {{ result.Posts.date_posted }} UTC</small><br>
                            <div class="preview">{{ result.Posts.content|safe }}</div>
                            <a class="btn btn-dark theme btn-sm button" href="{{ url_for ('post', id=result.Posts.id) }}">View Post</a>        
                            {% if current_user.id == result.Posts.poster.id or current_user.username == "admin"  %}
                            <a class="btn btn-dark theme btn-sm button" href="{{ url_for ('edit_post', id=result.Posts.id) }}">Edit Post</a>  
                            <a class="btn btn-outline-danger btn-sm" href="{{ url_for ('delete_post', id=result.Posts.id) }}" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div> 
                {% endfor %}
            {% else %}
                <h6>Sorry, your search term "{{ searched }}" was not found.</h6>
            {% endif %}
    
{% endblock %}