{% extends 'layout.html' %}

{% block content %}
        <br>
        <div class="container theme_text">
            <h3 class="theme_title"> Blog posts that contents "{{ searched }}"...</h3>
            <br>
            {% if results %}
            <h5>Search Results</h5><br>

            {% for result in results|reverse  %}
            <div class="shadow p-3 mb-5 bg-body rounded">
                <h4 class="theme_text">{{ result.Posts.title }}</h4>
                <small>By: {{ result.Users.name }}<br>
                Date: {{ result.Posts.date_posted }}</small><br>
                <div class="preview">{{ result.Posts.content|safe }}</div>                
                <a class="btn btn-dark theme btn-sm button" href="{{ url_for ('post', id=result.Posts.id) }}">View Post</a>        
                {% if current_user.id == result.Posts.poster_id or current_user.id == 25  %}
                <a class="btn btn-dark theme btn-sm button" href="{{ url_for ('edit_post', id=result.Posts.id) }}">Edit Post</a>  
                <a class="btn btn-outline-danger btn-sm" href="{{ url_for ('delete_post', id=result.Posts.id) }}" onclick="return confirm('Are you sure you want to delete this post?');">Delete Post</a>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
                <h6>Sorry, your search term "{{ searched }}" was not found.</h6>
            {% endif %}
        </div>
    
{% endblock %}